:root {
    --purpura: #9536B5;
    --naranja: #E68A37;
    --purpura-oscuro: #380955;
    --purpura-vino: #3B1142;
    --morazul: #6636B5;
}

@font-face {
    font-family: "JFRocout";
    src: url('/styles/fonts/JFRocOut.ttf');
}

@font-face {
    font-family: "JFRocSol";
    src: url('/styles/fonts/JFRocSol.TTF');
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: aliceblue;
    overflow-x: hidden; 
}

.flecha-atras {
    width: 50px;
    position: absolute;
    margin-top: 2%;
    margin-inline-start: 2%;
    z-index: 9;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.flecha-atras:hover {
    transform: scale(1.1);
}

.titulo-mapa h1{
    position: absolute;
    font-family: "JFRocOut";
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    font-size: 4rem;
    color: var(--naranja);
    margin: 0;
    z-index: 9;
    color: white;
    text-shadow: 1px 5px 8px rgba(0,0,0,0.98);
}

/* Contenedor del mapa interactivo */
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#interactive-map {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.station {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column-reverse;
    
}

.name-station{
    background-color: #5508859c;
    color: white;
    font-size: 220%;
    text-shadow: 1px 5px 8px rgba(0,0,0,0.98);
    margin: 0%;
    border-radius: 25%;
    box-shadow: 0 0 10px 10px #5508859c;
}

.image-container {
width: 10%; /* Ajusta el tamaño de la imagen según sea necesario */
height: 25%;
display: flex;
justify-content: center;
align-items: center;
}

.image-container img {
width: 100%;
height: auto;
border-radius: 10px;
position: relative;
z-index: 1; /* Asegura que la imagen esté por encima del efecto */
}

.image-container::before {
content: '';
position: absolute;
bottom: -15%; /* Ubica el efecto en la parte inferior de la imagen */
left: 50%;
transform: translateX(-50%);
width: 100%;
height: 80%;
background: linear-gradient(65deg, rgb(155, 8, 155), rgba(255, 255, 255, 0.76), rgb(128, 8, 128));
filter: blur(10px);
border-radius: 50%;
z-index: 0; /* Asegura que el efecto esté detrás de la imagen */
animation: rotate 3s infinite linear;
transform-style: preserve-3d;
perspective: 1000px;
}

footer {
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    
}

footer img {    
    width: 100%;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px 10px rgba(255, 115, 0, 0.788);
    border-radius: 50%;    
    padding: 10%;             
}



@keyframes rotate {
0% {
    transform: translateX(-50%) rotateX(30deg) rotateZ(0deg);
}
100% {
    transform: translateX(-50%) rotateX(30deg) rotateZ(360deg);
}
}

.station img {
    width: 150px; /* Tamaño de la imagen */
    height: auto;
    border-radius: 50%;
}

.station span {
    display: none;
    color: #fff;
    font-size: large;
    font-weight: 400;
}

.station:hover {
    transform: translate(-50%, -50%) scale(2.0);
    
}

/* Ubicaciones de las estaciones */
#station-design {
    top: 40%;
    left: 40%;
}

#station-development {
    top: 55%;
    left: 60%;
}

#station-seo {
    top: 75%;
    left: 30%;
}

#station-maintenance {
    top: 80%;
    left: 70%;
}

/* Panel lateral */
.side-panel {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: rgb(208, 190, 209);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 10;
    padding: 20px;
    overflow-y: auto;
}

.side-panel.active {
    right: 0;
}

#panel-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#panel-content {
    font-size: 16px;
    margin-bottom: 20px;
}

#panel-video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#close-panel {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--purpura-oscuro);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-panel:hover {
    background-color: var(--naranja);
}

/* Responsividad */


@media only screen and (min-width: 1023px) and (max-width: 1199px){
    .image-container{
        width: 22%;
        height: 18%;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .image-container{
        width: 18%;
        height: 13%;    
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px){
    .titulo-mapa h1{
        top: 2%;
    }
    .station {
        padding: 5px;
    }

    .station img{
        width: 100px;
    }

    #panel-title {
        font-size: 20px;
    }

    #panel-content {
        font-size: 14px;
    }
    .image-container{
        width: 18%;
        height: 13%;    
    }
    #station-development{
        left: 71%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .image-container{
        width: 25%;
        height: 15%;
    }
    .station img{
        width: 120px;
    }
    #station-development{
        left: 71%;
    }
}